
/* TODO: Responsivity of panels in relation to Dashboard. */
.dashboard {
    display: flex;

    justify-content: space-between;
    flex-direction: row;

    height: 75vh;
    margin-left: 78px;
    
    /*justify-content:space-between;*/

}

.panel {
    width: 40%; 
    height: 200px;
    border-radius: 10px;  
    
    margin: 10px;

    background: var(--gray-md);
    border: 1px solid #ffffff16;

    transition: linear .2s;
}
.widget_panel {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    
    margin: 10px;

    background: var(--gray-md);

    transition: linear .2s;
}

.panel:hover {
    background-color: #c4c4c411;
    cursor: pointer;
}

.recentsection {
    display: flex;
    flex-wrap: wrap;
}

.widgets {
    display: flex;

    margin: 8rem 4rem 0 0;

    flex-direction: column;

}
